h1{
    color: #ff0000;
}
#cb{
    color: blueviolet;
}
body{
    color: rgb(0,255,0);
}
.box1{
    width: 100px;
    height: 100px;
    border: 1px solid;
    padding: 20px;
    color: black;
    background-color: white;
}

.box2{
    width: 90px;
    height: 90px;
    border: 0.1px solid;
    align-content: center;
    background-color: red;
}
#putanginamo{
    color: gold;
    font-size: 100px;
}